@model FlexiForum.Models.ForumViewModels.IndexForumModel

<h1>FORUMS</h1>


<table class="table-hover table" id="indexForumTable">
    <tbody>
        @foreach (var forum in Model.ForumsList)
        {
        <tr>

            <td>
                <a asp-controller="Forum" asp-action="Theme" asp-route-id="@forum.Id">

                    @forum.Title

                </a>
                
            </td>
            <td>
                @forum.Info
            </td>
            

        </tr>
        }


    </tbody>
    
    
    
    
</table>
